<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="biggy_test" connectionString="server=localhost;user id=biggy;password=password;database=biggy_test"/>
    <add name="chinook-pg" connectionString="server=localhost;user id=biggy;password=password;database=chinook"/>

  </connectionStrings>
</configuration>
